<h1 class="h4 titulo mb-2">Seja Bem vindo ao sistema de cadastro de veículos</h1>


<!--Main Navigation-->
<header>
  <style>
    #intro {
      background-image: url("https://imagensbrasil.org/images/2021/06/24/kisspng-car-download-gratis-free-car-front-to-pull-the-material-5aab300661e3e9.994522691521168390401.png");
      height: 100vh;
    }

    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
      #intro {
        margin-top: -58.59px;
      }
    }

    .navbar .nav-link {
      color: #fff !important;
    }
  </style>


  <!-- Background image -->
  <div id="intro" class="bg-image shadow-2-strong">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">

    </div>
  </div>
  <!-- Background image -->
</header>

